package templates

import (
	"github.com/mrpoundsign/cy_borger/internal/db"
	"github.com/mrpoundsign/cy_borger/pkg/chargen"
)

templ Character(character *chargen.Character, canEdit bool, isGM bool, game *db.Game, activeGame *db.Game, isModal bool, isHTMX bool) {
	@Base(character.Name+" - 🍔 CY_BORGER Character Sheet", CharacterHead(character.ID), CharacterContent(character, canEdit, isGM, game, activeGame, isModal, isHTMX))
}

templ CharacterHead(charID string) {
	<span id="char-data-id" data-id={ charID } style="display:none;"></span>
}

templ CharacterContent(character *chargen.Character, canEdit bool, isGM bool, game *db.Game, activeGame *db.Game, isModal bool, isHTMX bool) {
	<div class="w-full py-md" style="max-width: 1350px; margin: 0 auto;">
		@CharacterSheet(character, canEdit, isGM, game, activeGame, isModal, isHTMX)
	</div>
}

templ CharacterNotFound(id string) {
	@Base("Character Not Found - 🍔 CY_BORGER", nil, characterNotFoundContent(id))
}

templ characterNotFoundContent(id string) {
	<div class="container p-md" id="char-not-found-container" data-id={ id }>
		<h1 class="text-danger mb-sm">💀 FLATLINE</h1>
		<p class="text-muted mb-md">This character has been permanently deleted or does not exist.</p>
		<p class="mb-lg">It will be automatically removed from your dashboard.</p>
		<a href="/" class="btn bg-success text-black">RETURN TO BASE</a>
	</div>
}
